@model MovieRental.Models.ForgetPasswordViewModel

<h1> 忘記密碼 </h1>
<form asp-action="ForgetPassword" method="post">
    <div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        @Html.AntiForgeryToken()
        <div>
            <input type="text" asp-for="Email" />
        </div>
        <div>
            <button type="submit">送出</button>
        </div>
    </div>
</form>