@model MovieRental.Models.ResetPasswordViewModel

<h1> 重設密碼 </h1>
<form asp-action="ResetPassword" method="post">
    <div>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="Email" />
        <input type="hidden" asp-for="Token" />
        <div>
            <input type="password" asp-for="Password" placeholder="請輸入密碼" />
        </div>
        <div>
            <input type="password" id="CheckPassword" placeholder="再次輸入密碼"/>
        </div>
        <div>
            <button type="submit">送出</button>
        </div>
    </div>
</form>